  <!----- Docs Navigation ----->
  <div class="col-md-3">

    <div class="docs-navigation">
      <h2><!--<a onclick="toggleMenu(this, '#getting-started');">--><i class="fa fa-chevron-right pale-blue"></i> Getting Started<!--</a>--></h2>
      <ul id="getting-started" {% unless page.url contains '/docs/getting-started' %}class="foo-hidden"{% endunless %}>
        <li {% if page.url contains '/docs/getting-started/index' %}class="active"{% endif %}>
            <a href="/docs/getting-started/index.html">Introduction</a></li>
        <li {% if page.url contains'/docs/getting-started/quickstart' %}class="active"{% endif %}>
            <a href="/docs/getting-started/quickstart.html">Quickstart</a></li>
        <li {% if page.url contains '/docs/getting-started/configuration' %}class="active"{% endif %}>
            <a href="/docs/getting-started/configuration.html">Configuration</a></li>
        <li {% if page.url contains'/docs/getting-started/processes' %}class="active"{% endif %}>
            <a href="/docs/getting-started/processes.html">Processes</a></li>
        <li {% if page.url contains'/docs/getting-started/forms' %}class="active"{% endif %}>
            <a href="/docs/getting-started/forms.html">Forms</a></li>
        <li {% if page.url contains'/docs/getting-started/scripting' %}class="active"{% endif %}>
          <a href="/docs/getting-started/scripting.html">Scripting</a></li>
        <li {% if page.url contains'/docs/getting-started/docker' %}class="active"{% endif %}>
          <a href="/docs/getting-started/docker.html">Docker</a></li>
        <li {% if page.url contains'/docs/getting-started/security' %}class="active"{% endif %}>
          <a href="/docs/getting-started/security.html">Security</a></li>
        <li {% if page.url contains'/docs/getting-started/tasks' %}class="active"{% endif %}>
            <a href="/docs/getting-started/tasks.html">Tasks</a></li>
        <li {% if page.url contains'/docs/getting-started/yaml' %}class="active"{% endif %}>
            <a href="/docs/getting-started/yaml.html">YAML DSL</a></li>
      </ul>
      <h2><!--<a onclick="toggleMenu(this, '#api');">--><i class="fa fa-chevron-right pale-blue"></i> API<!--</a>--></h2>
      <ul id="api" {% unless page.url contains '/docs/api' %}class="foo-hidden"{% endunless %}>
          <li {% if page.url contains '/docs/api/project' %}class="active"{% endif %}>
              <a href="/docs/api/project.html">Project</a></li>
          <li {% if page.url contains '/docs/api/process' %}class="active"{% endif %}>
              <a href="/docs/api/process.html">Process</a></li>
          <li {% if page.url contains '/docs/api/user' %}class="active"{% endif %}>
              <a href="/docs/api/user.html">User</a></li>
          <li {% if page.url contains '/docs/api/role' %}class="active"{% endif %}>
              <a href="/docs/api/role.html">Role</a></li>
          <li {% if page.url contains '/docs/api/ldap' %}class="active"{% endif %}>
              <a href="/docs/api/ldap.html">LDAP</a></li>
          <li {% if page.url contains '/docs/api/secret' %}class="active"{% endif %}>
              <a href="/docs/api/secret.html">Secret</a></li>
          <li {% if page.url contains '/docs/api/apikey' %}class="active"{% endif %}>
              <a href="/docs/api/apikey.html">API Key</a></li>
          <li {% if page.url contains '/docs/api/template' %}class="active"{% endif %}>
            <a href="/docs/api/template.html">Template</a></li>
       </ul>
      <h2><!--<a onclick="toggleMenu(this, '#plugins');">--><i class="fa fa-chevron-right pale-blue"></i> Plugins<!--</a>--></h2>
      <ul id="plugins" {% unless page.url contains '/docs/plugins' %}class="foo-hidden"{% endunless %}>
          <li {% if page.url contains '/docs/plugins/ansible' %}class="active"{% endif %}>
              <a href="/docs/plugins/ansible.html">Ansible</a></li>
          <li {% if page.url contains '/docs/plugins/crypto' %}class="active"{% endif %}>
              <a href="/docs/plugins/crypto.html">Crypto</a></li>
          <li {% if page.url contains '/docs/plugins/kv' %}class="active"{% endif %}>
              <a href="/docs/plugins/kv.html">KV</a></li>
       </ul>
       <h2><!--<a onclick="toggleMenu(this, '#plugins');">--><i class="fa fa-chevron-right pale-blue"></i> Templates<!--</a>--></h2>
       <ul id="templates" {% unless page.url contains '/docs/templates' %}class="foo-hidden"{% endunless %}>
          <li {% if page.url contains'/docs/templates/index' %}class="active"{% endif %}>
              <a href="/docs/templates/index.html">Introduction</a></li>
          <li {% if page.url contains'/docs/templates/bluegreen' %}class="active"{% endif %}>
              <a href="/docs/templates/bluegreen.html">Blue/green deployment</a></li>
       </ul>
    </div>
  </div><!-- END col-md-3 docs-navigation -->
