/* ------------------------------ CUSTOM PROJECT STYLES ------------------------------ */

/* All custom styles must be placed in this css file or they will risk being overwritten by updates with the base wmt.css file. */

/* ------------------------------ HOMEPAGE STYLES ------------------------------ */

.body {
  height: 100%;
  margin: 0;
}

.full-bg {
  background: #2F2951;
}

.full-bg .header .navbar {
  background: #FFFFFF;
}

.landingPage {
  /*background-image: linear-gradient(133deg, #000000 0%, #092B55 48%, #2E2951 87%, #2F2951 100%);*/
  margin-top: -20px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 50px 0px; }


.landingPage h1 {
  display: none; }
