/* ------------------------------ CUSTOM PROJECT STYLES ------------------------------ */

/* All custom styles must be placed in this css file or they will risk being overwritten by updates with the base wmt.css file. */

/* ------------------------------ HOMEPAGE STYLES ------------------------------ */

.homeBanner {
    background: #007dc6;
    margin-top: -20px;
    margin-bottom: 50px;
    padding: 0px; }

/* ------------------------------ LANDING PAGE STYLES ------------------------------ */

.landingPage {
    background: url(/assets/img/index-bg.png);
    background-repeat: repeat-x;
    margin-top: -20px;
    height: 100%;
    /*min-height: 700px;*/
    padding: 50px 0px;
    text-align: center; }

.landingPage h1 {
    display: none; }
