    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="{{site.context}}/assets/wmt/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{site.context}}/assets/wmt/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{site.context}}/assets/wmt/js/back-to-top.js"></script>
    <script type="text/javascript" src="{{site.context}}/assets/wmt/js/menu.js"></script>

    <!--[if lt IE 9]>
        <script src="{{site.context}}/assets/wmt/js/respond.js"></script>
    <![endif]-->
  </body>
</html> 
